[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
Flask = "==1.0.2"
Flask-Bootstrap = "*"
Flask-WTF = "*"
Flask-Testing = "*"
blinker = "==1.4"
Werkzeug = "==0.14.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
