html * {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
span {
    font-family: 'Dancing Script', cursive; 
    font-size: x-large;
}

#faces i{
     font-size: 15em;
}
#over_frm, #under_frm{
    display: inline-block;
}

#faces{
    text-align: center;
}
