{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <title>{% block title %} Milieu | {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

{%endblock%}    

{% block body %}
    {%block navbar%}
        {% include 'navbar.html' %}
    {%endblock%}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {%endfor%}

    {% block content %}{% endblock %}

    {% block scripts %}
        {{super()}}
    {%endblock%}
    <script type="text/javascript" src="{{ url_for('static',filename='lib/js/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock %}
