{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <title>{% block title %} Milieu | {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/images/ipc.png" sizes="48x48">
{%endblock%}    

{% block body %}
    {%block navbar%}
        {% include 'navbar.html' %}
    {%endblock%}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {%endfor%}

    {% block content %}{% endblock %}
    {% block scripts %}
        {{super()}}
    {%endblock%}
{% endblock %}
