{% extends 'base_chart.html' %}

{% block content %}
    <div id="container" style="width: 30%;">
        <canvas id="canvas"></canvas>
    </div>
    <button id="randomizeData">Randomize Data</button>
    <button id="addDataset">Add Dataset</button>
    <button id="removeDataset">Remove Dataset</button>
    <button id="addData">Add Data</button>
    <button id="removeData">Remove Data</button>

    {% block container %}
    <br>
    {{ data  }}
    <br>
    <ul>
        {% for field in data %}
        
            <li>
            {{ field }}
                <ul>
                    <li> {{ data[field] }} </li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endblock %}  
    
{% endblock %}    
    