{% extends 'base.html' %}
{% import 'macros.html' as macros %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{ super() }}
    Reportes IPC 
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Well come, {{username | capitalize}} </h1>
    {% endif %}
    {% if user_ip %}
        <h3>desde hellows {{user_ip}}</h3>
    {% else %}
        <a href="{{ url_for('index') }}">Go to home</a>
    {% endif %}

    <div class="container">
        {{ wtf.quick_form(searchuser_form, action=url_for('qualify', user_torate='33', event='over') )}}
        <br>
        <ul class="list-group" id="myList">
            {% for user in users %}
                {{ macros.render_users(user) }}
            {% endfor %}
        </ul>
        {% if daily.to_dict().spent_over == False %}
            {{ wtf.quick_form(spentover_form, action=url_for('qualify', user_torate='33', event='over') )}}
        {% endif %}

        {% if daily.to_dict().spent_under == False %}
            {{ wtf.quick_form(spentunder_form, action=url_for('qualify', user_torate='33', event='under') )}}
        {% endif %}
    </div>   
        

{% endblock %} 