{% extends 'base.html' %}
{% import 'macros.html' as macros %} 
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 
    {{ super() }}
    Reportes IPC 
{% endblock %}

{% block content %}
    <div class="container">
        {{ wtf.quick_form(searchuser_form,id='search_user') }}
        <br>
        <ul class="list-group" id="myList">
            {% for user in users %}
                {{ macros.render_users(user) }}
            {% endfor %}
        </ul>
        {% if daily.to_dict().spent_over == False %}
            {{ wtf.quick_form(spentover_form, id='over_frm', action=url_for('qualify', event='over',user_torate='') )}}
        {% endif %}

        {% if daily.to_dict().spent_under == False %}
            {{ wtf.quick_form(spentunder_form, id='under_frm', action=url_for('qualify', event='under',user_torate='') )}}
        {% endif %}
    </div>   
        

{% endblock %} 